* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    min-height: 100%;
    overflow-x: hidden;
    color: #333;
    background-color: #fff;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 18px;
}
.header {
    width: 100%;
    padding: 0 20px;
    z-index: 2;
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(255 255 255 / 75%);
}
.header .container {
    padding: 0;
}
.menu__desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__burger {
    display: none;
    height: 30px;
    align-items: center;
}
.menu__mobile .menu {
    display: none;
}
.menu__burger span {
    position: relative;
    display: block;
    background-color: #000;
    height: 2px;
    width: 25px;
}
.menu__burger span:before {
    position: absolute;
    top: -8px;
    content: '';
    width: 25px;
    height: 2px;
    background-color: #000;
}
.menu__burger span:after {
    position: absolute;
    top: 8px;
    content: '';
    width: 25px;
    height: 2px;
    background-color: #000;
}
.menu__burger.close span {
    background-color: transparent;
}
.menu__burger.close span:before {
    transform: rotate(-45deg);
    top: 0;
    background-color: #000;
}
.menu__burger.close span:after {
    transform: rotate(45deg);
    top: 0;
    background-color: #000;
}

.menu {
    display: flex;
    list-style: none;
}
.menu__logo {
    font-family: 'Poiret One', cursive;
    font-size: 28px;
    font-weight: 600;
    display: block;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    margin-left: 18px;
}
.menu__item a{
    font-weight: 400;
    font-size: 13.5px;
    display: block;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 18px;
    position: relative;
    transition: .2s linear;
    transition: .4s all;
}

/*------------- MAIN #1 -------------*/
.main {
    max-width: 1200px;
    margin: 57px auto;
}
.main__menu {
    display: flex;
    justify-content:
    space-between;
    padding: 30px 0 15px;
}
.main__inner img {
    width: 400px;
    margin-top: 15px;
    box-shadow: 14px 14px 32px 0 rgb(0 0 0 / 10%);
}
.main__title {
    font-size: 25px;
    font-weight: 700;
    color: #5d9eff;
}
.main__btn {
    color: #333;
    background: #fff;
    border: 2px solid #5d9eff;
    padding: 5px 12px;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
    outline: 0;
    transition: background .3s, color .1s;
}
.main__btn:hover {
    color: #fff;
    background: #5d9eff;
}
.active {
    color: #fff;
    background: #5d9eff;
}
.main__russia {
    display: none;
}
.main__inner p {
    font-size: 16px;
    text-align: justify;
    line-height: 1.6;
    padding: 10px 0;
}
.img__left {
    float:left;
    margin-right:20px;
}
.img__right {
    float:right;
    margin-left:20px;
}
iframe {
    float: right;
    margin-left: 20px;
    width: 551px;
    height: 310px;
    margin-top: 15px;
    box-shadow: 14px 14px 32px 0 rgb(0 0 0 / 10%);
}
.subtitle {
    font-size: 17px;
    font-weight: 600;
    color: #5d9eff;
    border-bottom: 1px solid #5d9eff;
    margin-bottom: 30px;
}

/*------------- LINK #2 -------------*/
.link {
    display: flex;
    margin-bottom: 100px;
}
.link a {
    text-decoration: none;
    box-shadow: 14px 14px 32px 0 rgb(0 0 0 / 10%);
    border-radius: 15px;
    text-align: center;
    color: #5d9eff;
    margin-right: 50px;
    transition: box-shadow .2s linear;
}
.link a:hover {
    box-shadow: 14px 14px 32px 0 rgb(0 0 0 / 17%);
}
.link h3 {
    padding: 5px 0 8px;
    font-weight: 500;
    font-size: 16px;
}
.link img {
    width: 400px;
    border-radius: 15px 15px 0 0;
}


/*------------- ABOUT -------------*/
.about p {
    text-align: left;
}
.about__link {
    color: #5d9eff;
    font-size: 16px;
    line-height: 1.6;
}

/*------------- FOOTER -------------*/
.footer {
    background-color: #102950;
    font-size: 15px;
    text-align: center;
}
.footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 43px;
}
.footer nav li a {
    font-weight: 500;
    font-size: 13px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 0;
    color: rgb(255 255 255 / 70%);
    line-height: 1.6;
    transition: .2s all;
}
.footer a:hover {
    color: #fff;
}
.footer__logo {
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.footer nav ul {
    text-align: left;
    list-style: none;
}
.footer p {
    padding-bottom: 7px;
    color: rgb(255 255 255 / 70%);
}
.footer p a {
    color: rgb(255 255 255 / 70%);
    transition: .2s all;
}

/* MEDIA */
@media screen and (max-width:414px) {
    .header {
        background: rgb(255 255 255 / 95%);
    }
    .menu__desktop .menu {
        display: none;
    }
    .menu__burger {
        display: flex;
    }
    .menu__logo {
        font-size: 21px;
        padding: 11px 0;
        margin: 0;
        padding: 12px 0;
    }
    .menu__mobile .menu {
        padding-bottom: 5px;
    }
    .menu__mobile .menu__item a {
        font-size: 12.5px;
        padding: 15px 0;
        opacity: .8;
        text-align: center;
    }

    /* Main */
    .main {
        margin: 47px auto 30px;
    }
    .main__menu {
        display: block;
        padding: 30px 0 10px;
    }
    .main__btns {
        padding-top: 10px;
        text-align: end;
    }
    .main__inner {
        text-align: center;
    }
    .main__title {
        font-size: 20px;
        font-weight: 700;
        border-left: 2px solid #5d9eff;
        padding-left: 10px;
    }
    .main__btn {
        font-size: 12px;
        padding: 3px 8px;
    }
    .btn1 {
        margin-bottom: 5px;
    }
    .main__inner p {
        font-size: 14px;
    }
    .main__inner img {
        width: 90%;
    }
    .img__left, .img__right {
        float: none;
        margin: 0;
    }
    iframe {
        width: 90%;
        height: 200px;
        float: none;
        margin: 15px 0;
    }

    /* Link */
    .link {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }
    .link a {
        width: 90%;
        margin: 0 0 20px;
    }
    .link img {
        width: 100%;
    }
    .subtitle {
        font-size: 14px;
    }
    .link h3 {
        font-size: 13px;
        font-weight: 600;
    }
    .about__link {
        font-size: 14px;
    }

    /* Footer */
    .footer {
        font-size: 14px;
    }
    .footer nav {
        justify-content: center;
        padding: 40px 0 33px;
        flex-wrap: wrap-reverse;
    }
    .footer nav ul {
        text-align: center;
    }
    .footer__logo {
        font-size: 21px;
        margin-bottom: 30px;
    }
    .footer nav li a {
        font-size: 12px;
    }
    .list {
        text-indent: 0px;
    }
    .footer p {
        padding-bottom: 25px;
    }
}

@media screen and (max-width:320px) {
    .menu__mobile .menu__item a {
        font-size: 10.5px;
    }

    /* Main */
    .main__title {
        font-size: 19px;
    }
    .main__btn {
        font-size: 11px;
    }
    .main__inner p {
        font-size: 14px;
    }

    /* Link */
    .subtitle {
        font-size: 13px;
    }
    .link h3 {
        font-size: 12px;
    }

    /* About */
    .about__link {
        font-size: 13px;
    }

    /* Footer */
    .footer {
        font-size: 13px;
    }
    .footer__logo {
        font-size: 20px;
    }
    .footer nav li a {
        font-size: 11px;
    }
}